<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Top 10 YouTubers</title>
    <!-- Include Chart.js library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="homePage">
        <h4><a href="/">Home</a></h4>
    </div>
    <div class="row">
        <div class="col-md-12 jumbotron text-center">
          <h1>Top 10 YouTube Influencer by Subscribers</h1>
          <p>Use the interactive chart below to explore the dataset</p>
        </div>
    </div>
    <div>
        <canvas id="subscriberChart"></canvas>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/top10.js')}}"></script>
</body>
</html>