<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main Page</title>
</head>

<body>
    <h1>Project3 Menu:</h1>

    <ul>
        <li><a href="'/Claire'">Claire</a></li>
        <li><a href="'/Judith'">Judith</a></li>
        <li><a href="'/Amita'">Amita</a></li>
        <li><a href="'/Sonya'">Sonya</a></li>
        <li><a href="'/Luo'">AI Influencer</a></li>
    </ul>

</body>