<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Judith's Graphs </title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div class="homePage">
        <h4><a href="/">Home</a></h4>
        <h1>Interactive Plots</h1>
        <h2>Double click a MBTI Personality to see how many AI influencers exist at each level of education. </h2>
    
        <div id="bar-chart"></div>
        <h2>Double click a Lifestyle to see which AI personalities produce that content.</h2>
    
    </div>
    <div id="scatter"></div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/Judith.js')}}"></script>  
   
</body>
</html>
