body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
#map-container {
    width: 50%;
    height: 100%;
    overflow: hidden;
    float: left;
}
#map {
    width: 100%;
    height: 100%;
}
#bar-container {
    width: 50%;
    height: 100%;
    overflow: hidden;
    float: left;
}
#bar {
    width: 100%;
    height: 100%;
}